
<style>
        body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;

        background: linear-gradient(
            90deg,
            #95f3f8,
            #45e0e6
            );
            background-size: 100%; 
        }

        h1
        {
        text-align: center;
        font-size: 35px;
        float: left;
        padding-left: 1%;
        padding-top: 20px;
        }

        hr{
            border-top: 2px dashed black;
        }

        #headr {
        width: 100%;
        height: 130px;
        background: linear-gradient(
            90deg,
            #ffec3d,
            #f5ff3c
            );
            background-size: 100%;
        }

        .messages-container {
        max-height: 400px;
        overflow-y: auto; 
        border-radius: 20px; 
        border: 2px solid #000000; 
        padding: 10px; 
        margin: 10px;
        background: linear-gradient(
            90deg,
            #ffec3d,
            #f5ff3c
            );
            background-size: 100%; 
    }

    input{
        width: 200px;
        border: 2px solid #000000;
        border-radius: 4px;
        font-size: 16px;
        background-color: rgb(230, 230, 216);
        padding: 10px;
        margin-left: 20px;
    }

    a {
    color: inherit;
    text-decoration: none; 
    }

    a:hover {
    color: white;
    }

    

</style>
<div id="headr">
    <a href="/">
        <h1>GamerTalkz</h1>
    </a>
    <div style="text-align: center; float: right; padding-top: 40px; padding-right: 40px;">
        {% if request.user.is_authenticated %}
        <span style="padding-top: 50px; padding-bottom: 10px;">Vítejte, uživateli {{request.user}}.
            <br>
            </span>
        <a href="{% url 'logout' %}">Odhlásit se</a>
        <br>
        <a href="{% url 'update-user' %}">Upravit údaje</a>

        {% else %}
        <div style="padding-left: 3%; padding-top:3.75%; font-size: 20px;">
        <a href="{% url 'login' %}">Přihlašte se zde!</a>
        </div>
        {% endif %}
        </span>
    </div>
</div>  
<br>
<br>